*{
	margin: 0;
	padding: 0;
}
a:link {text-decoration:none;color: gray}
a:visited {text-decoration:none;color: black}
a:hover {text-decoration:underline;color: red}
a:active {text-decoration:blink}
body{
	font-family: arial;
  background: #dedede;
}
.container{
  padding: 70px;
}
.per_info{
  overflow: hidden;
  display: block;
  width: 700px;
	margin: auto;
	padding: 30px 70px;
	background: #fff;
  box-shadow: 1px 1px 2px 1px #848484;
}
h1,h2{
	margin-top: 50px;
	padding-bottom: 8px;
	border-bottom: 1px solid #aaa;
}
h4{
  padding: 8px 0;
}
ul,ol{
	margin: 5px auto;
	padding-left: 10px;
}

ul li{
	padding: 5px;
}

ol li{
	padding: 5px;
}
.skill{
  padding-top: 15px;
}
.job_info{
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
}
.project_desc p{
  text-indent: 2em;
  padding-bottom: 10px;
}
.skill{
	padding: 10px auto;
}
.assessment{
	margin: 10px auto;
}
.thanks{
	margin: 10px auto;
	text-indent: 2em;
}
